body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-container {
  min-height: calc(100vh - 60px);
  padding: 20px;
}

/* Navbar styles */
nav {
  background-color: #2c3e50;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #11649c;
}

nav button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 20px;
  transition: color 0.3s ease;
}

nav button:hover {
  color: #0b2cb1;
  background-color: #1669b1;
}

/* Home Page Styles */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 60px);
  background-image: url('../public/images/background.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.home-container h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.home-container p {
  font-size: 1.5em;
}

/*recording page*/
.recordings-container {
  padding: 20px;
}

.recording-item {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
}



nav {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #2c3e50;
  color: white;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.secondary-nav-links {
  display: flex;
  justify-content: center;
  background-color: #34495e;
  padding: 10px 0;
  width: 100%;
}